.header {
  overflow: hidden;
  background-color: tomato;
  padding: 30px 15px;

  .logo {
    float:left;
     a {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  }

  .menu {
    float: right;
    width: 700px;

    ul {
      list-style: none;
      text-align: right;

      li {
        display: inline-block;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 20px;
          padding: 0 10px;
          line-height: 30px;

          &:hover {
            color: $hover;
          }
        }
      }
    }
  }
}